.logo {
  width: 240px;
  vertical-align: middle;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  margin: 3px 0px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main div {
  background-color: rgb(236, 236, 236);
  margin: 5px 3px;
  width: auto;
}

label {
  user-select: none;
}


div label {
  margin-right: 10px;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  background-color: white;
  align-items: center;
  font-size: 14px;
  color: grey;
}